In [8]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
df=pd.read_csv("./asiacup.csv")

In [3]:
df.shape

(254, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Team                       254 non-null    object
 1   Opponent                   254 non-null    object
 2   Format                     254 non-null    object
 3   Ground                     254 non-null    object
 4   Year                       254 non-null    int64
 5   Toss                       254 non-null    object
 6   Selection                  254 non-null    object
 7   Run Scored                 252 non-null    float64
 8   Wicket Lost                252 non-null    float64
 9   Fours                      252 non-null    float64
 10  Sixes                      252 non-null    float64
 11  Extras                     252 non-null    float64
 12  Run Rate                   252 non-null    float64
 13  Avg Bat Strike Rate        252 non-null    float64
 14  Highest Score              252 non-null    float64
 15  Wicket Taken               252 non-null    float64
 16  Given Extras               252 non-null    float64
 17  Highest Individual wicket  252 non-null    float64
 18  Player Of The Match        252 non-null    object
 19  Result                     254 non-null    object
dtypes: float64(11), int64(1), object(8)
memory usage: 39.8+ KB

In [7]:
df.sample(5)

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
150,Bangladesh,India,ODI,Mirpur,2012,Win,Bowling,293.0,5.0,24.0,6.0,12.0,5.93,116.73,70.0,5.0,18.0,2.0,Shakib Al Hasan,Win
1,Sri Lanka,Pakistan,ODI,Sharjah,1984,Win,Bowling,190.0,5.0,11.0,1.0,26.0,4.36,68.51,57.0,9.0,21.0,3.0,Roy Dias,Win
94,Sri Lanka,Bangladesh,ODI,Colombo(RPS),2004,Lose,Bowling,191.0,0.0,15.0,0.0,20.0,5.70,84.97,107.0,9.0,20.0,3.0,Sanath Jayasuriya,Win
240,Afghanistan,Sri Lanka,T20I,Sharjah,2022,Lose,Batting,175.0,6.0,9.0,9.0,12.0,8.75,86.31,84.0,6.0,5.0,2.0,Rahmanullah Gurbaz,Lose
41,Pakistan,India,ODI,Sharjah,1995,Win,Batting,266.0,9.0,21.0,5.0,16.0,5.32,92.95,88.0,10.0,26.0,5.0,Aaqib Javed,Win

In [6]:
df['Player Of The Match'].value_counts()

Player Of The Match
Virat Kohli                   12
Sanath Jayasuriya             10
Shoaib Malik                  10
Shahid Afridi                  8
Kumar Sangakkara               8
                              ..
Mohammad Nawaz                 2
Dasun Shanaka                  2
Shadab Khan                    2
Wanindu Hasaranga de Silva     2
Bhanuka Rajapaksa              2
Name: count, Length: 78, dtype: int64

In [7]:
from ydata_profiling import ProfileReport
prof=ProfileReport(df)
prof.to_file(output_file='index.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 575.23it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [12]:
numerical_col=df.select_dtypes(include=np.number)
numerical_col.corr()['Avg Bat Strike Rate']

Year                         0.382868
Run Scored                   0.366079
Wicket Lost                 -0.525216
Fours                        0.450348
Sixes                        0.566028
Extras                      -0.258884
Run Rate                     0.876557
Avg Bat Strike Rate          1.000000
Highest Score                0.346380
Wicket Taken                 0.174049
Given Extras                -0.068825
Highest Individual wicket    0.149387
Name: Avg Bat Strike Rate, dtype: float64