In [1]:
import pandas as pd
import seaborn as sns

In [2]:
from sklearn.preprocessing import Binarizer
from sklearn.compose import ColumnTransformer

In [3]:
df=pd.read_csv("Weather_Data.csv",usecols=['MaxTemp','Rainfall'])

In [4]:
df.sample(5)

       MaxTemp  Rainfall
34469     27.8       0.0
6317      19.2       6.8
38439     12.3       0.6
21238     29.9       0.0
3939      18.8       0.0

In [5]:
df.describe()

            MaxTemp      Rainfall
count  42585.000000  42250.000000
mean      23.246068      2.342862
std        7.123596      8.412106
min       -4.800000      0.000000
25%       18.000000      0.000000
50%       22.600000      0.000000
75%       28.300000      0.600000
max       47.000000    278.400000

In [6]:
df.isnull().sum()

MaxTemp      92
Rainfall    427
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

MaxTemp     0
Rainfall    0
dtype: int64

In [9]:
df['MaxTemp']

0        25.7
1        28.0
2        25.0
3        31.9
4        18.6
         ...
42672    19.1
42673    21.4
42674    22.5
42675    20.6
42676    27.0
Name: MaxTemp, Length: 42163, dtype: float64

In [10]:
# Binarization
trf=ColumnTransformer([('trf1',Binarizer(threshold=1,copy=False),['Rainfall'])],remainder='passthrough')

In [11]:
df_transformed=trf.fit_transform(df)

In [12]:
df_transformed

array([[ 0. , 25.7],
       [ 0. , 28. ],
       [ 0. , 25. ],
       ...,
       [ 0. , 22.5],
       [ 0. , 20.6],
       [ 0. , 27. ]])

In [13]:
df.columns

Index(['MaxTemp', 'Rainfall'], dtype='object')

In [20]:
df=pd.DataFrame(df_transformed,columns=['RainFall','MaxTemp'])

In [21]:
df.sample(5)

       RainFall  MaxTemp
29893       0.0     20.7
34763       1.0     20.8
14925       0.0     15.8
6402        1.0     25.4
37690       1.0     19.3

In [22]:
# Custom Binning


bins=[-5,0,10,20,47]
labels=['Very Cold','Cold','Hot','Very Hot']

df['Weather']=pd.cut(df['MaxTemp'],bins=bins,labels=labels)

In [23]:
df.sample(10)

       RainFall  MaxTemp   Weather
14665       1.0     25.3  Very Hot
24681       1.0     24.4  Very Hot
31667       0.0     21.0  Very Hot
28031       1.0     13.7       Hot
33201       0.0     20.9  Very Hot
39439       0.0     35.8  Very Hot
40274       1.0     32.6  Very Hot
15734       0.0     16.9       Hot
19929       0.0     17.3       Hot
8459        1.0     21.5  Very Hot

In [24]:
df['Weather'].value_counts()

Weather
Very Hot     26876
Hot          14686
Cold           569
Very Cold       32
Name: count, dtype: int64

In [25]:
df[df['Weather']=='Cold']

       RainFall  MaxTemp Weather
147         0.0      8.3    Cold
233         0.0      9.8    Cold
331         1.0      9.6    Cold
557         0.0      8.7    Cold
660         0.0     10.0    Cold
...         ...      ...     ...
38841       0.0      9.0    Cold
39072       0.0      7.9    Cold
39076       0.0      9.4    Cold
39087       1.0      8.5    Cold
39203       1.0     10.0    Cold

[569 rows x 3 columns]